#bottom{
    width: 1920px;
    height: 250px;

    
    background: #044343;
    text-align: center;
    padding-top: 100px;
    font-family: 'Nunito Sans';
font-style: normal;
font-weight: 700;
font-size: 36px;
color: #FFFFFF;
}