#box{
height: 150px;
left: 0px;
top: 0px;
background: #044343;
}

#logo{
    position: absolute;
    width: 125px;
    height: 125px;
    left: 20px;
    top: 13px;
    border-radius:100%;
    background: #EFEFEF;

}

#header1{
    position: absolute;
    width: 527px;
    height: 0px;
    left: 9.95%;
    top: 20px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 0px;
    /* identical to box height, or 0% */
    
    
    color: #FFFFFF;
    
}

#header2{
    position: absolute;

    left: 9.95%;
    top: 60px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 0px;
    /* identical to box height, or 0% */
    
    
    color: #FFFFFF;
}

#header3{
    position: absolute;
    height: 0px;
    left: 9.95%;
    right: 62.6%;
    top: 100px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 0px;
    /* identical to box height, or 0% */
    
    
    color: #FFFFFF;
    
}

.nav-text{
    display:inline-block;
    top: 20px;
    margin: 50px;
    padding-top:15px;
    padding-bottom:15px;
    padding-right:25px;
    padding-left:25px;

    font-family: 'Inter';
    font-size: 32px;
font-style: normal;
font-weight: 400;
text-align: center;
color: White;
}


.nav-text:hover{
  background-color:#045757;
  border-radius: 50px;
  color: White;
  text-decoration: none;

}

/*--------------------------------------- */
#myBtn {
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
   border:0;
    outline: none;
    background-color: red;
border-radius: 50%;
justify-content: center;
align-items: center;
width: 50px;
height: 50px;
  }


  p.topbutton {
     margin-top: 0; 
     margin-bottom: 0; 
     color: white;
     cursor: pointer;
     font-size: 30px;
     border:0;
}


  #myBtn:hover {
    background-color: #555;
  }