.product{
    border-color:#2C89E7;
    border-radius: 5px;
    padding-top:5px;
    padding-bottom:5px;
    padding-right:20px;
    padding-left:20px;
    background-color: #2C89E7;
    color:white;
    font-size:18px;
    justify-content: right;
    align-items: right;
    text-align: right;
    margin-right: 20px;

}

.product-header{
  color:red;
font-size: 20px;
}

.product-cost{
    color:black;
  font-size: 20px;
  }

  .product-name{
    color:black;
  font-size: 20px;
  }

  .paginationBttns {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 2% 0;
  }
  .paginationBttns a {
    border: 1px solid black;
    padding: 10px 15px;
    border-radius: 10px;
    margin: 0 5px;
  }

  #productDetail{
    background: #00b09b;
    background: -webkit-linear-gradient(to right, #00b09b, #96c93d);
    background: linear-gradient(to right, #00b09b, #96c93d);
    min-height: 100vh;
    height: 1000px;
    width:800px
  }